.btn {
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 5px;
    border: solid 1px black;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover{
    box-shadow: 0 0 8px rgb(33, 77, 92);
}